body {
    background: #d2d6de;
}
.login-box {
    width: 340px;
    margin: 2% auto;
}
.login-logo {
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
.ag_lo{
    margin-left: 13px;
}
.login-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box-body .form-control-feedback {
    color: #777;
}
.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 13px;
}
.has-feedback {
    position: relative;
}
.margt50{
    margin-top: 40px;
}
/* .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
} */
/* .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
} */
.bg-olive-active {
    background-color: #368763 !important;
}
.btn{
    color: #fff !important;
} 
.col-md-12{
    font-size: 13px;
}  
/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
    content: "\f007";
}
.col-xs-4 {
    width: 33.33333333%;
} */